#map {
    height: 430px;
    position: relative;
    width: 100%;
}

 p.menu{width: 200px;
    padding: 3px;}
    .cacher{display: none;}

 div.bandeau{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,131313+100 */
 background: #4c4c4c; /* Old browsers */
 background: -moz-linear-gradient(left, #4c4c4c 0%, #131313 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(left, #4c4c4c 0%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to right, #4c4c4c 0%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 */
 copy
 }

 a.blanc{
 color: white
 }