#{extends 'secure/Secure/template.html' /}
#{set title:'Login' /}

<form id="form-login" action="@{secure.Secure.authenticate()}" method="POST" class="form-signin" role="form">
    <hr class="colorgraph">
    <input type="email" class="form-control" id="email" name="username" placeholder="Email" value="${flash.get("email")}" required autofocus>
    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" required>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember"> Se souvenir de moi
        </label>
    </div>
    <button class="btn btn-lg btn-success btn-block" type="submit">S'authentifier</button>.
    <a href="@{Application.newPlayer()}">Créer mon compte</a>
</form>