#{extends 'main.html' /}
#{set title:'Home' /}

<ul>
    <li><a href="@{Application.index()}">random</a></li>
    <li><a href="@{Application.zone(49.474298f, 1.110211f)}">m2i</a></li>
</ul>

<p>${checkin.date.format("dd/MM/yyyy HH:mm")}</p>
<p>${checkin.latitude} / ${checkin.longitude}</p>
<p>${checkin.player.firstName} ${checkin.player.lastName}</p>
<p>${checkin.zone.x} / ${checkin.zone.y} : ${checkin.zone.ressource.getLabel()} #{if zoneState}=> ${zoneState.player.firstName} ${zoneState.player.lastName} #{if checkin.player.id == zoneState.player.id}: ${zoneState.harvestedQuantity}#{/if}#{/if}</p>

#{if zoneState == null || checkin.player.id != zoneState.player.id}
<ul>
#{list actionsPossibles, as:'actionPossible'}
    <li><a href="@{Application.action(checkin.id, actionPossible.name())}">${actionPossible.getLabel()}</a></li>
#{/list}
</ul>
#{/if}

<div id="map"></div>
<script>
    var zoneAction = #{jsAction @Application.zone(':latitude', ':longitude') /}
    function initMap() {
        var centre = {lat: ${checkin.latitude}, lng: ${checkin.longitude}};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: centre,
            scrollwheel: false,
            zoom: 16
        });
        var marker = new google.maps.Marker({
            position: centre,
            map: map,
            title: '${checkin.player.firstName} ${checkin.player.lastName} est là!'
        });
        var rectangle = new google.maps.Rectangle({
            strokeColor: '${checkin.zone.ressource.getColor()}',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '${checkin.zone.ressource.getColor()}',
            fillOpacity: 0.35,
            map: map,
            bounds: {
                north: ${checkin.zone.topLatitude},
                south: ${checkin.zone.bottomLatitude},
                east: ${checkin.zone.bottomLongitude},
                west: ${checkin.zone.topLongitude}
            }
        });

        google.maps.event.addListener(map, 'dblclick', function(event) {
            location.href = zoneAction({latitude: event.latLng.lat, longitude: event.latLng.lng});
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYOHMLgnM8nggYrYJ548Mi71S3GV0HmRY&callback=initMap" async defer></script>